<% scripts.push("jquery.flot.js", "charts.js" ); %>
<h1><%= title %></h1>
<div id="mainbody">
	<div id="cpuchart-wrapper">
		<h2>CPU Usage (Lubuntu VM)</h2>
		<div id="cpuchart"></div>
	</div>
	<div id="memchart-wrapper">
		<h2>Memory (Lubuntu VM)</h2>
		<div id="memchart"></div>
	</div>
	<div class="clear"></div>
</div>
