body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

/* charts */
div#cpuchart-wrapper {
	position: relative; float: left;
}
div#memchart-wrapper {
	position: relative; float: left; margin-left: 10px
}
div#cpuchart {
	width:500px; height: 350px;
}
div#memchart {
	width:500px; height: 350px;
}
.clear { clear:both;}
/* end of charts */
